<h3>Enter a Stock Symbol Love Love</h3>
<h3>Home Sarah Love Love</h3>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript">
    $(function() {
        var name = $('#name');
        var greeting = $('#greeting');

        name.keyup(function() {
            greeting.text('Hello ' + name.val()+ '!');
        })
    })

</script>

<form class="form-search pull-left">
    <input type="text" class="search-query input-xlarge" placeholder="Stock Symbol">
    <input id="tags" type="text" class="search-query" placeholder="Search">
</form>
</br></br>
<h2 id="greeting"></h2>
<% @stocks.each do |stock| %>
  <p>Stock: <%=link_to stock.name, stock %></p>
<% end %>

<script>
    $(function() {
        var availableTags = [
            "ActionScript",
            "AppleScript",
            "Asp",
            "BASIC",
            "C",
            "C++",
            "Clojure",
            "COBOL",
            "ColdFusion",
            "Erlang",
            "Fortran",
            "Groovy",
            "Haskell",
            "Java",
            "JavaScript",
            "Lisp",
            "Perl",
            "PHP",
            "Python",
            "Ruby",
            "Scala",
            "Scheme"
        ];
        $( "#tags" ).autocomplete({
            source: '<%= stock_path(2) %>'
        });
    });
</script>
