<h3>Enter a Stock Symbol Love Love</h3>
<form class="form-search pull-left">
    <input type="text" class="search-query input-xlarge" placeholder="Stock Symbol">
</form>
</br></br>
<% @stocks.each do |stock| %>
  <p>Stock: <%=link_to stock.name, stock %></p>
<% end %>
