<h3>Enter a Stock Symbol Love Love</h3>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<form class="form-search pull-left">
    <input id="tags" type="text" class="search-query input-xlarge" placeholder="Stock Symbol">
</form>
</br></br>
<h2 id="greeting"></h2>
<% @stocks.each do |stock| %>
  <p>Stock: <%=link_to stock.name, stock %></p>
<% end %>

<script>
    $(function() {
        $( "#tags" ).autocomplete({
            source: '<%= stock_path(1) %>'
        });
    });
</script>
